Lenguaje de Marcas/xsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="videojuegos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="videojuego">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titulo" type="xs:string" />
              <xs:element name="genero" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="codigo" type="xs:string" use="required" />
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="\d{2}[A-Za-z]{2}.+" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
